---
import MainLayout from "../layouts/MainLayout.astro";
import CourseCard from "../components/CourseCard.astro";
import ActivityCard from "../components/ActivityCard.astro";

const courses = [
  {
    image: "/images/coursecard.webp",
    date: "5. maj 2025, fra 19:00 til 20:30",
    title: "Din vej til uddannelse og job <br>(online)",
    description:
      "Webinar om støttemuligheder og forskellige indgange til uddannelse og arbejdsmarkedet. Få gode råd og konkrete værktøjer fra socialfaglig rådgiver og fleksjobambassadør.",
    price_member: "Gratis",
    price_guest: "250 kr.",
    spots: "10",
    duedate: "30. april 2025",
  },
  {
    image: "/images/coursecard.webp",
    date: "14. maj 2025, fra 16:00 til 17:30",
    title: "Dig og din krop - intimitet, sex og bevægelse (online)",
    description: "Webinar for unge, voksne og netværk som vil vide mere om emnerne og få gode råd med på vejen.",
    price_member: "Gratis",
    price_guest: "250 kr.",
    spots: "18",
    duedate: "6. maj 2025",
  },
  {
    image: "/images/coursecard.webp",
    date: "21. juni 2025, fra 11:30 til 15:00",
    title: "Cykling i Københavns gader - Mangfoldighedscykelløb sammen med CP Danmark og Elsass Fonden",
    description:
      "Vi ønsker at samle alle der gerne vil cykle til en dag i cyklingens og fællesskabets tegn, når CP Danmark og Elsass Fonden sammen cykler til Mangfoldighedsetapen til CPHsprint. Om din cykel har et, to, tre eller fire hjul - om du cykler på framerunner eller tandem - alle er velkomne i cykelfællesskabet. CP Danmark inviterer alle medlemmer og interesserede i at melde sig til. Formandskabet bestående af Pia Allerslev og Jacob Nossell vil cykle med, sammen med en del deltagere fra Tour de Elsass holdet, som cyklede til PL i Paris.",
    price_member: "Gratis",
    price_guest: "Gratis",
    spots: "50",
    duedate: "1. juni 2025",
  },
  {
    image: "/images/coursecard.webp",
    date: "13. september 2025",
    title: "Forældre, følelser og fællesskab",
    description:
      "Forældre, følelser og fællesskab er et netværksarrangement skabt for forældre til børn med CP, hvor der er plads til at dele erfaringer, følelser og skabe nye relationer.",
    price_member: "Gratis",
    price_guest: "500 kr.",
    spots: "38",
    duedate: "30. august 2025",
  },
  {
    image: "/images/coursecard2.webp",
    date: "Dato tilføjes",
    title: "Kursus mangler",
    description: "Vent for mere information",
  },
  {
    image: "/images/coursecard2.webp",
    date: "Dato tilføjes",
    title: "Kursus mangler",
    description: "Vent for mere information",
  },
];

const activities = [
  {
    image: "/images/activitycard1.webp",
    date: "9.-11. maj 2025",
    title: "Weekend i Dronningens Ferieby",
    description: "Tag med på en skøn weekendtur i naturskønne omgivelser arrangeret af CP Danmark Sydøstjylland.",
  },
  {
    image: "/images/activitycard2.webp",
    date: "10. maj 2025",
    title: "Fest med livemusik",
    description:
      "Kom med til en festlig aften arrangeret af CP Danmark Storkøbenhavn. Der vil være lækker mad, livemusik med bandet Recepten og masser af hyggeligt samvær.",
  },
  {
    image: "/images/activitycard3.webp",
    date: "16-18. maj 2025",
    title: "'Slap af'-weekend på Feriecenter Slettestrand",
    description: "Tag med på en fantastisk weekend med hygge og socialt samvær med din og andre familier - arrangeret af CP Danmark Østjylland.",
  },
  {
    image: "/images/activitycard4.webp",
    date: "18. maj 2025",
    title: "Mød en ny ven",
    description:
      "CP Danmark Storstrøm inviterer til en dag med hygge omkring bålet og skattejagt sammen med andre mennesker, der kender til livet med CP.",
  },
  {
    image: "/images/activitycard5.webp",
    date: "23-25. maj 2025",
    title: "Familieweekend på Feriecenter Slettestrand",
    description:
      "Lyder familieweekend i naturskønne omgivelser ved Vesterhavet tillokkende? Så skal du med på denne tur arrangeret af CP Danmark Nordøstjylland.",
  },
  {
    image: "/images/activitycard6.webp",
    date: "24. maj 2025",
    title: "Tur i Carlsberg Byen",
    description:
      "Kom med på en guidet tur i Carlsberg Byen, hvor du sammen med CP Danmark Storkøbenhavn hører historien om bydelens bygninger og om gamle dage på Carlsberg.",
  },
];
---

<MainLayout
  title="CP Danmark | Kurser & aktiviteter"
  description="CP Danmarks 'Kurser & aktiviteter'-side"
  ogtitle="CP Danmark – Landsforeningen for cerebral parese"
  ogdescription="Læs mere om diverse kurser og arrangementer, som CP Danmark tilbyder"
>
  <section id="hero" class="hero grid grid-cols-12 md:pb-desktop-bottom pb-mobil-bottom md:pt-36 pt-28 relative">
    <div class="flex flex-col items-left relative z-10 col-start-2 col-span-10 md:pb-16 pb-8">
      <div class="breadcrumb pb-2 md:pt-12 pt-16">
        <a
          href="/"
          aria-label="Gå tilbage til forsiden"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out">Forside</a
        >
        <span> / </span>
        <a
          href="#"
          aria-label="Det overordnede menupunkt er 'Bliv klogere' (menu-link med ingen funktion)"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out"
          >Bliv klogere</a
        >
        <span> / </span>
        <a
          href="/kurser_aktiviteter"
          aria-label="Denne side er 'Kurser & aktiviteter'"
          class="underline hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-300 ease-in-out"
          >Kurser & aktiviteter</a
        >
      </div>
      <h1 class="md:text-h2-desktop text-h2-mobile md:pb-0 pb-2">Kurser & aktiviteter</h1>
      <p class="md:text-h4-desktop text-h4-mobile italic">
        Deltag i faglige kurser, sociale aktiviteter og fællesskaber for mennesker med CP og deres pårørende
      </p>
    </div>
    <div id="course" class="col-start-2 col-span-10 pb-5">
      <h2 class="md:text-h3-desktop text-h3-mobile">Kurser & arrangementer</h2>
    </div>
    <div id="courses" class="col-start-2 col-span-10 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8 items-center justify-center">
      {
        courses.map((item) => (
          <CourseCard
            image={item.image}
            date={item.date}
            title={item.title}
            description={item.description}
            price_member={item.price_member}
            price_guest={item.price_guest}
            spots={item.spots}
            duedate={item.duedate}
          />
        ))
      }
    </div>

    <div id="activity" class="col-start-2 col-span-10 md:pt-desktop-top pt-mobil-top pb-5">
      <h2 class="md:text-h3-desktop text-h3-mobile">Aktiviteter</h2>
    </div>
    <div id="activities" class="col-start-2 col-span-10 grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8 items-center justify-center">
      {activities.map((item) => <ActivityCard image={item.image} date={item.date} title={item.title} description={item.description} />)}
    </div>
  </section>

  <style>
    body.dark h1,
    body.dark p,
    body.dark h2 {
      color: #f6f6f6;
    }

    body.dark hr {
      border-color: #7d7d7d;
    }
  </style>

  <script>
    import { inView } from "motion";

    document.addEventListener("DOMContentLoaded", () => {
      const reduceMotion = document.body.classList.contains("reduce-motion");

      if (!reduceMotion) {
        const elementmedanimation1 = document.querySelector("#hero h1");
        inView(elementmedanimation1, () => {
          elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
        });

        const elementmedanimation2 = document.querySelector("#hero p");
        inView(elementmedanimation2, () => {
          elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
        });

        const elementmedanimation3 = document.querySelector(".breadcrumb");
        inView(elementmedanimation3, () => {
          elementmedanimation3.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation4 = document.querySelector("#course h2");
        inView(elementmedanimation4, () => {
          elementmedanimation4.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation5 = document.querySelector("#activity h2");
        inView(elementmedanimation5, () => {
          elementmedanimation5.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const activities = document.querySelectorAll("#activities > div");
        activities.forEach((el, index) => {
          inView(el, () => {
            el.classList.add("animate__animated", "animate__fadeInRight");
            el.style.animationDelay = `${index * 0.2}s`;
          });
        });

        const courses = document.querySelectorAll("#courses > div");
        courses.forEach((el, index) => {
          inView(el, () => {
            el.classList.add("animate__animated", "animate__fadeInRight");
            el.style.animationDelay = `${index * 0.2}s`;
          });
        });
      }
    });
  </script>
</MainLayout>
