---
const { image, date, description, title, spots, price_member, price_guest, duedate } = Astro.props;
import Button from "./Button.astro";
---

<div
  class="course-card flex flex-col min-w-[300px] md:min-w-[400px] min-h-[40rem] bg-gray-100 rounded-[5px] hover:bg-gray-200 transition duration-300 ease-in-out"
>
  <div class="course-card_image h-[300px]">
    <img src={image} alt={title} class="w-full h-full object-cover rounded-t-[5px]" />
  </div>

  <div class="course-card_content p-5 flex flex-col">
    <div>
      <p id="date" class="text-gray-400 pb-3">{date}</p>
      <h4 class="text-h4-mobile leading-7 line-clamp-2 mb-3" set:html={title} />
      <p id="description" class="line-clamp-2 mb-5 mt-3">{description}</p>
    </div>

    <div class="info mt-auto">
      <hr class="w-[20%] pb-6 border-gray-400" />

      {
        price_member && (
          <p>
            <span class="italic font-semibold">Pris for medlemmer: </span>
            {price_member}
          </p>
        )
      }
      {
        price_guest && (
          <p>
            <span class="italic font-semibold">Pris for ikke-medlemmer: </span>
            {price_guest}
          </p>
        )
      }
      {
        spots && (
          <p>
            <span class="italic font-semibold">Pladser tilbage: </span>
            {spots}
          </p>
        )
      }
      {
        duedate && (
          <p class="pb-6">
            <span class="italic font-semibold">Tilmeldelsesfrist: </span>
            {duedate}
          </p>
        )
      }

      {
        price_member && price_guest && spots && duedate && (
          <a href="#" aria-label="Placeholder-link (ingen funktionalitet)" class="focus:outline-none focus:ring-2 focus:ring-blue-400">
            <Button variant="secondary" size="small">
              Læs mere og tilmeld
            </Button>
          </a>
        )
      }
    </div>
  </div>
</div>

<style>
  body.dark .course-card {
    background-color: #4f4f4f;
  }

  body.dark .course-card:hover {
    background-color: #5b5b5b;
  }

  body.dark .course-card_content h4,
  body.dark .course-card_content p {
    color: #f6f6f6;
  }

  body.dark .course-card_content #date {
    color: #b3b3b3;
  }
</style>
