---
import Button from "./Button.astro";
const { image, date, description, title } = Astro.props;
---

<div
  class="news-card min-w-[300px] md:min-w-[400px] h-auto bg-gray-100 rounded-[5px] shadow-drop25 hover:bg-gray-200 hover:cursor-pointer hover:translate-y-[-2px] transition duration-300 ease-in-out"
>
  <div class="news-card_image">
    <img src={image} alt={title} class="w-full h-full object-cover rounded-t-[5px]" />
  </div>
  <div class="news-card_content p-5">
    <p id="date" class="text-gray-400 pb-2">{date}</p>
    <h3 class="text-[18px] font-bold pb-2">{title}</h3>
    <p class="pb-5">{description}</p>
    <a href="#" aria-label="Placeholder-link (ingen funktionalitet)">
      <Button variant="secondary" size="small">Læs mere</Button>
    </a>
  </div>
</div>

<style>
  body.dark .news-card {
    background-color: #4f4f4f;
  }

  body.dark .news-card_content h3,
  body.dark .news-card_content p {
    color: #f6f6f6;
  }

  body.dark .news-card_content #date {
    color: #b3b3b3;
  }
</style>
