---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ScrollToTop from "../components/ScrollToTop.astro";
import "../styles/tailwind.css";
import "animate.css";
const { title } = Astro.props;

const schemamarkup = {
  "@context": "http://schema.org",
  "@type": "Organization",
  name: "CP Danmark",
  url: "https://cp-danmark.dk",
  logo: "https://www.cpdanmark.dk/media/379815/75aars-jublogo_blaa.png",
  description: "CP Danmark er en landsdækkende interesseorganisation for mennesker med cerebral parese og deres pårørende.",
  address: {
    "@type": "PostalAddress",
    streetAddress: "Blekinge Boulevard 2",
    addressLocality: "Taastrup",
    postalCode: "2630",
    addressCountry: "DK",
  },
  contactPoint: {
    "@type": "ContactPoint",
    telephone: "+45 3888 4575",
    email: "cpdanmark@cpdanmark.dk",
    contactType: "Kundeservice",
    availableLanguage: ["Danish"],
  },
  sameAs: [
    "http://www.facebook.dk/cpdanmark.dk",
    "https://www.instagram.com/cpdanmark",
    "https://www.linkedin.com/company/cp-danmark-landsforeningen-for-cerebral-parese/",
    "https://www.youtube.com/channel/UCN2nN9axOe-Z_RiMT_H4_yg/",
  ],
};
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={Astro.props.description} />
    <meta property="og:locale" content="da_DK" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={Astro.props.ogtitle} />
    <meta property="og:description" content={Astro.props.ogdescription} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <script src="https://kit.fontawesome.com/c5d83fc88a.js" crossorigin="anonymous"></script>
    <title>{Astro.props.title}</title>
  </head>
  <body class="">
    <header>
      <Header />
      <ScrollToTop />
    </header>

    <main class="overflow-hidden">
      <slot />
    </main>

    <footer class="">
      <Footer />
    </footer>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }

  body.dark {
    background-color: #333333;
    color: #f6f6f6;
  }

  .text-large a,
  .text-large button,
  .text-large span,
  .text-large p {
    font-size: 1.25rem;
  }
</style>
<script>
  import { animate } from "motion";
  /*Entrance Animation*/
  animate("body", { opacity: [0, 1] }, { duration: 1 });

  class Login extends HTMLElement {
    constructor() {
      super();
      this.attachShadow({
        mode: "open",
      }); //apparently slots only work with the shadow dom?
    }
    connectedCallback() {
      this.html = `<style>
      /****** LOGIN MODAL ******/
      #login-modal {
          background:#1d1d1d;
          background-opacity:0.8;
          position:fixed;
          width:100vw;
          height:100vh;
      }
      .loginmodal-container {
        padding: 30px;
        max-width: 350px;
        width: 100% !important;
        background-color: #f6f6f6;
        margin: 0 auto;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        font-family: "Open Sans", sans-serif;
      }
      .loginmodal-container h1 {
        text-align: left;
        line-height: 25px;
        font-size: 1.5em;
        margin-bottom: 20px;
      }

      .loginmodal-container p {
        margin: 0 0 10px 0; /* Top 0, Right 0, Bottom 6px, Left 0 */
      }

      .loginmodal-container input[type=submit] {
        width: 100%;
        display: block;
        position: relative;
      }
      input[type=password] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        padding: 0 8px;
        box-sizing: border-box;
      }
      input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
      }
      .loginmodal {
        text-align: left;
        font-size: 14px;
        font-weight: 700;
        height: 36px;
        padding: 0 8px;
      }
      .loginmodal-submit {
        border: 0px;
        color: #fff;
        text-shadow: 0 1px rgba(0,0,0,0.1); 
        background-color: #034f9a;
        padding: 17px 0px;
        font-size: 14px;
      }
      .loginmodal-submit:hover {
       cursor: pointer;
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #0268c7;
      }

      .obs {
        font-weight: bold;
      }

      .password-code {
        font-weight: bold;
        font-style: italic;
        color: #ce8551;
        font-size: 1.125rem;
      }

      .login {
        margin-bottom: 10px;
      }
    </style>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login til CP Danmarks nye hjemmeside</h1>
          <p class="login"><em class="obs">OBS:</em> Du skal logge ind for at se denne side. Dette er et skole-projekt!</p>
          <p class="password">Password'et er <span class="password-code">cpdanmark2025</span></p>
          <form>
            <input type="password" name="pass" placeholder="Skriv password her">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          </form>
        </div>
      </div>
    </div>`;
      this.render();

      this.shadowRoot.querySelector("form").addEventListener("submit", (e) => {
        e.preventDefault();
        if (this.shadowRoot.querySelector("input[name=pass]").value === "cpdanmark2025") {
          document.querySelector("#totally-delete-me").remove();
          localStorage.setItem("iform-totally-logged-in", true);
        }
      });
    }
    render() {
      this.shadowRoot.innerHTML = this.html;
    }
  }
  customElements.define("iform-login", Login);
  window.addEventListener("load", () => {
    if (!localStorage.getItem("iform-totally-logged-in")) {
      const div = document.createElement("div");
      div.id = "totally-delete-me";
      div.style.width = "100vw";
      div.style.height = "100vh";
      div.style.position = "fixed";
      div.style.zIndex = "9999";

      div.innerHTML = "<iform-login />";
      document.body.prepend(div);
    }
  });
</script>
